*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

.wrapper{
    min-height: 100%;
    margin-bottom: -50px;
}

.footer,
.push{
    height: 50px;
    color: white;
}
