@model IEnumerable<CanchasGambeta.ViewModels.CanchasMasReservadasVM>
@{
    ViewBag.Title = "CanchasMasUtilizadas";
}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div class="row" style="transform: translateY(70px); color:white">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        <h3>Canchas más utilizadas</h3>
        <table class="table table-bordered table-striped" id="tablaCanchas" style="display:none;">
            <thead>
                <tr>
                    <th class="text-center">
                        Cancha
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var listado in Model)
                {
                    <tr class="text-center">
                        <td>
                            @listado.Cancha
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <table class="table table-bordered table-striped" id="tablaCantidadReservas" style="display:none;">
            <thead>
                <tr>
                    <th class="text-center">
                        Cantidad de veces reservada
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var listado in Model)
                {
                    <tr class="text-center">
                        <td>
                            @listado.Cantidad
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div id="piechart" style="width: 700px; height: 400px;"></div>
        <small>*Nota: si una cancha no sale en el gráfico es porque no hay ninguna reserva en la misma.</small>
    </div>
    <div class="col-md-3"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/Scripts/scriptCanchasMasReservadas.js"></script>
