@model IEnumerable<CanchasGambeta.ViewModels.InstrumentoRotoVM>
@{
    ViewBag.Title = "InstrumentosRotos";
}

<div class="container">
    <div class="row" style="transform: translateY(60px);">
        <div class="col-md-12">
            <div>
                <h3 class="text-center" style="color:white">Instrumentos rotos</h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="transform: translateY(60px); color:white">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            @if (Model.Count() != 0)
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">
                                Instrumento
                            </th>
                            <th class="text-center">
                                Fecha rotura
                            </th>
                            <th class="text-center">
                                Acciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var listado in Model)
                        {
                            <tr>
                                <td class="text-center">
                                    @listado.Instrumento
                                </td>
                                <td class="text-center">
                                    @listado.FechaRotura
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        @using (Html.BeginForm("EliminarInstrumentoRoto", "Informe", FormMethod.Post, new { onsubmit = "return confirmacionEliminarInstrumentoRoto();" }))
                                        {
                                            <input type="hidden" name="idInstrumento" value="@listado.IdInstrumento" />
                                            <button type="submit" class="btn btn-primary m-1">Repuesto</button>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="form-label-group text-danger" style="margin-left:10px">
                    @ViewBag.ErrorEliminarInstrumentoRoto
                </div>
            }
            else
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">
                                Instrumentos
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                No hay instrumentos rotos
                            </td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

