@{
    ViewBag.Title = "Ayuda";
}

<link rel="stylesheet" href="@Url.Content("~/Content/ayudaStyles.css")" />

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="box">
            <p class="heading">Preguntas y Respuestas frecuentes(FAQ)</p>
            <div class="faqs">
                <details>
                    <summary>¿Como creo un usuario?</summary>
                    <p class="text-justify pt-3">
                        Para crear un usuario debe acceder a la sección "REGISTRARSE" en la parte superior derecha. Una vez allí, se mostrará un formulario a
                        completar por el usuario para que cree su cuenta.
                    </p>
                </details>
                <details>
                    <summary>¿Como hago una reserva?</summary>
                    <p class="text-justify pt-3">
                        Para realizar una reserva primero debe tener un usuario e iniciar sesión en la página web. Luego debe acceder a la sección "RESERVAR" en la parte superior derecha.
                        Una vez allí se mostrará un formulario a completar por el usuario. En este deberá seleccionar la fecha, cancha y horario disponible y opcionalmente seleccionar
                        servicios ofrecidos por Canchas Gambeta. Por último presionar el botón "Registrar reserva".
                    </p>
                </details>
                <details>
                    <summary>¿Como reservo insumos del kiosko?</summary>
                    <p class="text-justify pt-3">
                        Para reservar insumos del kiosko primero debe registrar una reserva. Una vez la reserva quede registrara, se mostrará una página que le permitirá reservar los insumos.
                        En está se encontrará un buscador y dos(2) tablas, una con los insumos buscados y otra con los insumos a reservar. Por último una tabla con las cantidades a especificar
                        por el usuario.
                    </p>
                </details>
                <details>
                    <summary>Tengo una reserva y quiero reservar insumos, ¿Como lo hago?</summary>
                    <p class="text-justify pt-3">
                        Para reservar insumos del kiosko en una reserva ya existente debe presionar el botón "Editar reservas" en la sección "RESERVAS" y presionar el botón "Modificar" en la
                        reserva a la que se desea agregar insumos. Luego se mostrará una página con los datos de la reserva a editar y un botón "Agregar insumos".
                    </p>
                </details>
                <details>
                    <summary>Quiero modificar mi contraseña, ¿Como lo hago?</summary>
                    <p class="text-justify pt-3">
                        Para modificar la contraseña el usuario debe iniciar sesíon y dirigirse y la sección "Mi perfil", ubicada en la parte superior derecha. Allí se mostrarán los datos
                        personales del cliente y un botón "Modificar perfil".
                    </p>
                </details>
                <details>
                    <summary>Quiero crear un equipo, ¿Como lo hago?</summary>
                    <p class="text-justify pt-3">
                        Para crear un equipo el usuario debe iniciar sesión y dirigirse a la sección "Nuevo Equipo", ubicada en la parte superior derecha. Allí se mostrará un formulario
                        para darle un nombre al equipo. Una vez creado el usuario podrá agregar integrantes, modificarlos y eliminarlos del equipo, como también eliminar el equipo si lo desea.
                    </p>
                </details>
                <details>
                    <summary>Contáctenos</summary>
                    <p class="text-justify pt-3">
                       Teléfono: 3515600765<br />
                       Correo electrónico: canchasgambeta@gmail.com<br />
                       Facebook: Canchas Gambeta<br />
                       Instagram: canchasgambetacba
                    </p>
                </details>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>